.contenedor_Servicios{
    margin: 0 auto;
}

.tarjeta {
    display: flex;
    justify-content:center;
    flex-direction:column;
    width:200rem;
    color: white;
    margin: 0 2rem;
    opacity: 0.8;
    -webkit-box-shadow: 4px 4px 19px 13px rgba(35, 43, 40, 0.23);
    -moz-box-shadow: 4px 4px 19px 13px rgba(35, 43, 40, 0.23);
    box-shadow: 4px 4px 19px 13px rgba(35, 43, 40, 0.23);
}

.card_Body{
    width: 100%;
    background-color:#191c2c;
    padding: 2rem;
}

.tarjeta:hover{
        @extend %neon;
        color: map-get($colores, colorTexto );
}

